@import "tailwindcss";

@theme {
  --color-eco-azul: #29B6F6;
  --color-eco-verde-claro: #F0F8E2;
  --color-eco-amarelo: #FFC107;
  --color-eco-verde: #43A047;
  --color-eco-verde-escuro: #2E7D32;
  --color-cinza-escuro: #333333;
  --color-cinza-claro: #555555;
}
